<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Restaurante de Hamburguesas</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav>
            <ul class="nav mb-2">
                <li class="nav-item mr-2"> <a class="btn btn-primary" asp-area="AccesoAdmin" asp-controller="Admin" asp-action="PaginaPrincipal" style="margin-right: 10px;">Inicio</a> </li>
                <li class="nav-item mr-2"> <a class="btn btn-secondary" asp-area="AdminUsuarios" asp-route="usuarios" style="margin-right: 10px;">Usuarios</a> </li>
                <li class="nav-item mr-2"> <a class="btn btn-success" asp-area="AdminUsuarios" asp-route="clientes">Clientes</a> </li>
            </ul>
            <ul class="nav">
                <li class="nav-item mr-2"> <span class="btn btn-info" style="margin-right: 10px;">@Sesion.Singleton().UsuarioLogeado</span> </li>
                <li class="nav-item mr-2"> <a class="btn btn-danger" asp-area="AccesoAdmin" asp-controller="Admin" asp-action="InicioSesion">Cerrar Sesión</a> </li>
            </ul>
        </nav>
    </header>
    <div class="centrar-todo">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2023 - Restaurante de Hamburguesas - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>

</body>
</html>
