@using PaginaWebRestauranteHamburguesas.ModelViews;
@using PaginaWebRestauranteHamburguesas.Areas.AdminUsuarios.ModelViews;

@model ModelViewMensaje<ModelViewGeneros>

<div class="d-flex flex-column align-items-center">

    <h1 class="mb-3">Registrar cuenta</h1>

    <form method="post" class="d-flex flex-row">

        <div class="d-flex flex-column justify-content-center rounded-2 w-50 p-3 me-2 bg-info">

            <p class="mb-2 text-wrap text-light fw-bold">
                Ingrese las credenciales de una cuenta administrador existente:
            </p>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtNombreUsuarioAdmin" class="form-control" placeholder="Nombre de usuario"
                       name="nombreUsuarioAdmin">
                <label for="txtNombreUsuarioAdmin">Nombre de usuario</label>
            </div>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="password" id="txtPasswordAdmin" class="form-control" placeholder="Contraseña"
                       name="passwordAdmin">
                <label for="txtPasswordAdmin">Contraseña</label>
            </div>

        </div>

        <div class="d-flex flex-column justify-content-center rounded-2 w-50 p-3 me-2 bg-info">

            <p class="mb-2 text-wrap text-light fw-bold">
                Ingrese los datos del cliente:
            </p>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtNombreCliente" class="form-control" placeholder="Nombre"
                       name="nombreCliente">
                <label for="txtNombreCliente">Nombre</label>
            </div>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtApellidoCliente" class="form-control" placeholder="Apellido"
                       name="apellidoCliente">
                <label for="txtApellidoCliente">Apellido</label>
            </div>

            <div class="d-flex flex-row">

                <div class="form-floating d-flex flex-column-reverse w-100 mb-2 me-2">
                    <input type="date" id="txtFnacimiento" class="form-control" placeholder="Fecha de Nacimiento"
                           name="fNacimientoCliente">
                    <label for="txtFnacimiento">Fecha de nacimiento</label>
                </div>

                <div class="form-floating d-flex flex-column-reverse w-100 mb-2">
                    <select name="generoCliente" class="form-select">
                        @foreach (var genero in Model.entity.Generos)
                        {
                            <option value="@genero.Id">@genero.Etiqueta</option>
                        }
                    </select>
                    <label for="generoCliente">Género</label>
                </div>

            </div>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtTelefono" class="form-control" placeholder="Teléfono"
                       name="telefono">
                <label for="txtTelefono">Teléfono</label>
            </div>
            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="email" id="txtMai" class="form-control" placeholder="Mail"
                       name="mail">
                <label for="txtMail">Mail</label>
            </div>

        </div>

        <div class="d-flex flex-column justify-content-center border rounded-2 w-50 p-3 me-2">

            <p class="mb-2 text-wrap fw-bold">
                Ingrese las credenciales de la nueva cuenta:
            </p>

            <div class="form-floating d-flex flex-column-reverse mb-2">
                <input type="text" id="txtNombreUsuario" class="form-control" placeholder="Nombre de Usuario"
                       name="nombreUsuario">
                <label for="txtNombreUsuario">Nombre de usuario</label>
            </div>

            <div class ="form-floating d-flex flex-column-reverse mb-2">
                <input type="password" id="txtPassword" class="form-control" placeholder="Contraseña"
                       name="password">
                <label for="txtPassword">Contraseña</label>
            </div>

            <button type="submit" class="btn btn-info mb-2">
                Crear cuenta
            </button>

            <a asp-route="usuarios" class="btn btn-outline-info mb-2">
                Regresar
            </a>

            @if (Model.mensaje is not null)
            {
                <div class="alert alert-danger text-wrap">
                    <strong>ERROR: </strong>@(Model.mensaje)
                </div>
            }

        </div>

    </form>

</div>

