@model string

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PaginaWebRestauranteHamburguesas</title>
    <link href="css/bootstrap.css" rel="stylesheet" />
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
            background-color: beige;
        }

        h1 {
            border: 1px solid #ddd;
            padding: 10px;
            width: 400px;
            text-align: center;
        }

        form {
            max-width: 400px;
            width: 100%;
            padding: 20px;
            border: 3px solid #ccc;
            border-radius: 8px;
            margin-top: 20px;
        }

            form div {
                margin-bottom: 20px;
            }

        input, button {
            width: 100%;
            padding: 8px;
            margin: 5px 0;
            box-sizing: border-box;
        }

        button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        a.button {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            background-color: #007bff;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
    </style>
</head>
<body>

    <h1>Crear Cuenta de Administrador</h1>

    <form id="formCredencialesAdmin" method="post">

        <label for="formCredencialesAdmin">Ingrese las credenciales de una cuenta de administrador válida:</label>
        <div>
            <input type="text" id="txtNombreUsuarioAdmin" placeholder="Nombre de usuario"
                   name="nombreUsuarioAdmin">
            <label for="txtNombreUsuarioAdmin">Usuario*</label>
        </div>
        <div>
            <input type="password" id="txtPasswordAdmin" placeholder="Contraseña"
                   name="passwordAdmin">
            <label for="txtPasswordAdmin">Contraseña*</label>
        </div>

        <label for="formCredencialesUsuarioNuevo">Ingrese las credenciales de la nueva cuenta de administrador:</label>
        <div>
            <input type="text" id="txtNombreUsuario" placeholder="Nombre de Usuario"
                   name="nombreUsuario">
            <label for="txtNombreUsuario">Usuario*</label>
        </div>
        <div>
            <input type="password" id="txtPassword" placeholder="Contraseña"
                   name="password">
            <label for="txtPassword">Contraseña*</label>
        </div>

        <button type="submit">Crear cuenta</button>

    </form>

    <a asp-route="usuarios" class="button">Regresar</a>

    @if (Model is null)
    {
        @("Hola, bienvenido/a.")
    }
    else
    {
        @(Model)
    }

</body>
</html>