@model string

@{ string mensaje = (Model == null) ? "Hola, bienvenido/a." : Model.ToString(); }

<!DOCTYPE html>
<html style="margin:0; padding:0" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 2D BURGUER</title>
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #E8C39E;
            background-image: url('https://img.freepik.com/foto-gratis/hamburguesa-queso-perfecta-verduras-sobre-mesa-madera-fondo-negro-ai-generativo_123827-23432.jpg');
        }

        .formulario {
            max-width: 500px;
            width: 120%;
            padding: 20px;
            border: 3px solid #ccc;
            border-radius: 8px;
        }

        .campo-texto {
            margin-bottom: 20px;
        }

        .campo-texto input {
                width: 100%;
                padding: 10px;
        }

        p {
            color: white;
        }

    </style>
</head>
<body>
    <section>
        <form method="post" class="formulario">
            <div class="campo-texto">
                <input type="text" id="txtNombreUsuario" placeholder="Nombre de Usuario"
                       name="nombreUsuario">
                <label for="txtNombreUsuario">Usuario</label>
            </div>
            <div class="campo-texto">
                <input type="password" id="txtNombreUsuario" placeholder="Contraseña"
                       name="password">
                <label for="txtNombreUsuario">Contraseña</label>
            </div>
            <button asp-controller="Admin" asp-action="IniciarSesion"
                    type="submit" class="btn btn-primary rounded-0 w-100">
                Iniciar Sesión
            </button>
        </form>
    </section>
    <p>@(mensaje)</p>
</body>
</html>