@model string

@{ string mensaje = (Model == null) ? "Hola, bienvenido/a." : Model.ToString(); }

<div class="d-flex flex-column w-100 align-items-center">

    <h1>BIENVENIDO, @Sesion.Singleton().UsuarioLogeado</h1>

    <img src="https://us.123rf.com/450wm/studioaccendo/studioaccendo2307/studioaccendo230732807/208957619-hamburguesa-en-un-plato-ilustraci%C3%B3n-vectorial-en-estilo-de-dibujos-animados.jpg?ver=6"
         width="500"
         height="400">

    <h3>Seleccione la opción que desea realizar:</h3>

    <div class="d-flex flex-row">

        <div style="margin-bottom: 15px;">
            <a asp-route="usuarios" class="btn btn-primary">
                Administración de usuarios
            </a>
        </div>

    </div>

</div>


 