<!DOCTYPE html>
<html style="margin:0; padding:0" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inicio - 2D burguer</title>
    <link href="https://paginawebrestaurantehamburguesas20231213092315.azurewebsites.net/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <main role="main" class="mt-3 p-3" style="background-color: ivory">
            @RenderBody()
        </main>
    </div>
</body>
</html>
